{% extends "base.html" %}

{% block title %}Service Level Agreement - SilentCanary{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h1 class="mb-0">
                        <i class="fas fa-balance-scale"></i> Service Level Agreement (SLA)
                    </h1>
                </div>
                <div class="card-body">


                    <h3>Coming soon!</h3>





    </div>
</div>
{% endblock %}